.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 24px 0;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  height: 200px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 250ms ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.1);
}

body .sl-overlay {
  background: rgba(46, 47, 66);
}

body .sl-wrapper {
  .sl-close,
  .sl-counter,
  .sl-navigation button {
    color: #fff;
  }
}
