.feedback-form {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  border: 1px solid #808080;
  background-color: #222;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

textarea {
  cursor: pointer;
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #393838;
  color: white;
  outline: none;
  resize: none;
  height: 80px;
}

.label-input {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

/* button cool */
button {
  margin-top: 16px;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  width: 95px;
  height: 40px;
  transition: filter 250ms;
}

.edge {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(0, 100%, 14%) 0%,
    hsl(358, 95%, 14%) 8%,
    hsl(0, 86%, 14%) 92%,
    hsl(0, 88%, 10%) 100%
  );
}

.shadow {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(1px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.front {
  display: block;
  position: relative;
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: hsl(357, 99%, 27%);
  will-change: transform;
  transform: translateY(-4px);
  animation: glowing 20s ease-in-out infinite;
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

button:hover {
  filter: brightness(110%);
}

button:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:hover .shadow {
  transform: translateY(3px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

button:active .shadow {
  transform: translateY(-6px);
  transition: transform 34ms;
}

@keyframes glowing {
  0% {
    background-color: #b40234;
    /* box-shadow: 0 0 3px #0f8ae8; */
  }

  25% {
    background-color: #be1111;
    /* box-shadow: 0 0 3px #3f54a8; */
  }
  50% {
    background-color: #c00625;
    /* box-shadow: 0 0 3px #0b727d; */
  }
  100% {
    background-color: #b40234;
    /* box-shadow: 0 0 3px #0f8ae8; */
  }
}
/* style */
.input-container {
  margin-top: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 10px;
  background: #393838;
  overflow: hidden;
}

.border-effect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1;
  background: linear-gradient(270deg, #f22e2e, #ff00ff, #00ffff, #0033ff);
  background-size: 600% 600%;
  border-radius: 10px;
  transition: opacity 0.4s ease;
  animation-play-state: paused;
  animation: gradientShift 6s ease infinite;
}

.email-input {
  cursor: pointer;
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #393838;
  color: white;
  outline: none;
}

.email-input::placeholder {
  color: #777;
}

.input-container:hover .border-effect,
.input-container:focus-within .border-effect {
  opacity: 1;
  animation-play-state: running;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
